@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-app-region: none;
}

body {
    background-color: transparent;
    color: #FAFAFA;
    overflow: hidden;
}

.main-app {
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    background-color: rgba(19, 20, 24, 0.95);
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 30px);
}

h1 {
    font-family: Poppins;
    font-size: 98px;
    color: #DD2C00;
}

h2 {
    font-family: Poppins;
    font-size: 48px;
    color: #FAFAFA;
}

p {
    font-family: Open Sans;
    font-size: 18px;
    color: #FAFAFA;
}